//pipeline defaults
params.mate = "" //* @dropdown @options:"single","pair" @description:"Single-End or Paired-End Data"
params.genome_build = "" //* @dropdown @options:"mouse_mm10_casxc57, custom" @description:"If custom is selected, please manually enter the genome_source and gtf_source in the system inputs section."
params.run_FastQC =  "no"  //* @dropdown @options:"yes","no" @description:"It provides quality control checks on raw sequence data. <a target="_blank" href="https://www.bioinformatics.babraham.ac.uk/projects/fastqc/">FastQC Documentation Link</a>"
params.run_Adapter_Removal =  "no"  //* @dropdown @options:"yes","no" @show_settings:"Adapter_Removal" @description:"Removes 3' adapter sequences. <a target="_blank" href="http://www.usadellab.org/cms/uploads/supplementary/Trimmomatic/TrimmomaticManual_V0.32.pdf">Trimmomatic Documentation Link</a>"
params.run_UMIextract = "no" //* @dropdown @options:"yes","no" @show_settings:"UMIextract" @description:"Extracts UMI sequences using a pattern and append the UMI sequence to the header. <a target="_blank" href="https://umi-tools.readthedocs.io/en/latest/reference/extract.html">UMItools Documentation Link</a>"
params.run_Trimmer =  "no"  //* @dropdown @options:"yes","no" @show_settings:"Trimmer" @description:"Shortening reads in FASTQ files (removing barcodes or noise) <a target="_blank" href="http://hannonlab.cshl.edu/fastx_toolkit/commandline.html#fastx_trimmer_usage">Fastx Trimmer Documentation Link</a>"
params.run_Quality_Filtering =  "no"  //* @dropdown @options:"yes","no" @show_settings:"Quality_Filtering" @description:"It filters out poor quality reads and trim poor quality bases from samples. <a target="_blank" href="http://www.usadellab.org/cms/uploads/supplementary/Trimmomatic/TrimmomaticManual_V0.32.pdf">Trimmomatic Documentation Link</a> "
params.run_Sequential_Mapping =  "no"  //* @dropdown @options:"yes","no" @show_settings:"Sequential_Mapping", "Download_build_sequential_mapping_indexes" @description:"It is used to count or filter out common RNAs (e.g., rRNA, miRNA, tRNA, piRNA, etc.). or custom sequences before the main alignment step."
params.run_Kallisto = "no" //* @dropdown @options:"yes","no" @show_settings:"kallisto_quant, Check_Build_Kallisto_Index" @description:"Kallisto quantifies abundances of transcripts based on pseudoalignments.</br>It rapidly determines the compatibility of reads with targets without alignment. It provides fast and comparably accurate results. <a target="_blank" href="https://pachterlab.github.io/kallisto/manual">Kallisto Documentation Link</a>"
params.run_RSEM = "yes" //* @dropdown @options:"yes","no" @show_settings:"RSEM, CountData_DE, Check_Build_Rsem_Index" @description:"RSEM is used for estimating gene and isoform expression levels.</br>It uses the Expectation Maximization (EM) algorithm to estimate isoform and gene levels abundances. It can perform the alignment step with bowtie, bowtie2, or STAR."
params.run_FeatureCounts_after_RSEM = "no" //* @dropdown @options:"yes","no" @show_settings:"BAM_Analysis_Module_RSEM_featureCounts_Prep" @description:"After RSEM mapping, featureCounts counts how many reads map to genomic features and generate a gene/transcript count matrix.<a target="_blank" href="http://subread.sourceforge.net/SubreadUsersGuide.pdf">Documentation Link</a>"
params.run_FeatureCounts_after_Kallisto = "no" //* @dropdown @options:"yes","no" @show_settings:"BAM_Analysis_Module_Kallisto_featureCounts_Prep" @description:"After Kallisto mapping, featureCounts counts how many reads map to genomic features and generate a gene/transcript count matrix. <a target="_blank" href="http://subread.sourceforge.net/SubreadUsersGuide.pdf">Documentation Link</a>"
params.run_SlamTools = "yes" //* @dropdown @options:"yes","no" @show_settings:"Check_Build_HISAT_3N_index, HISAT_3N_mapper, SplitFastq" @description:"SlamTools"
params.run_RSeQC = "no" //* @dropdown @options:"yes","no" @description:"It calculates how mapped reads were distributed over genome features (like CDS exon, 5’UTR exon, 3’ UTR exon, Intron, Intergenic regions). <a target="_blank" href="http://rseqc.sourceforge.net/#read-distribution-py">Documentation Link</a>"
params.run_Picard_CollectMultipleMetrics = "no" //* @dropdown @options:"yes","no" @description:"It collects multiple classes of metrics such as CollectAlignmentSummaryMetrics, CollectInsertSizeMetrics, QualityScoreDistribution, MeanQualityByCycle, CollectBaseDistributionByCycle, CollectGcBiasMetrics, RnaSeqMetrics, CollectSequencingArtifactMetrics and CollectQualityYieldMetrics and produces '.pdf' and '.txt' files for each module.<a target="_blank" href="https://gatk.broadinstitute.org/hc/en-us/articles/360037594031-CollectMultipleMetrics-Picard-">Documentation Link</a>"
params.run_BigWig_Conversion = "no" //* @dropdown @options:"yes","no" @description:"It converts BAM files to BigWig files for UCSC Genome Browser visualization."
params.run_IGV_TDF_Conversion = "no" //* @dropdown @options:"yes","no" @show_settings:"IGV_BAM2TDF_converter" @description:"It converts BAM files to TDF files for IGV visualization."
params.run_Download_Genomic_Sources = "no" //* @dropdown @options:"yes","no"  
params.run_Split_Fastq =  "no"  //* @dropdown @options:"yes","no" @show_settings:"SplitFastq"

includeConfig 'conf/base.config'
profiles {
  test { includeConfig 'conf/test.config' }
  docker { 
        process.container = "amanukyan1385/slamseq_pipeline:1.0"
        params.DOWNDIR="$HOME" // path where genome data will be saved and it should be different than run directory
        docker.enabled = true 
        docker.runOptions = "-v ${params.DOWNDIR}:${params.DOWNDIR}" 
            
  }
  singularity { 
        process.container = "amanukyan1385/slamseq_pipeline:1.0"
        params.DOWNDIR="$HOME" // path where genome data will be saved and it should be different than run directory
        singularity.enabled = true 
        singularity.runOptions = "--bind ${params.DOWNDIR}" 
  }
}
